<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kattis problem saver</title>
</head>
<body>
<p>This webpage is designed so that you can save particular kattis problems with ease since kattis doesn't have an
option to save problems.</p>
<p>To save a particular kattis problem all you have to do is to type the problem id of the problem that you want to save
 and the problems that you've saved will appear in the list.</p>
<div id="searchbar">
    {% block content %}
    {% endblock %}
</div>
<div id="items">

</div>
</body>
</html>